# -------------------------------
# Python
# -------------------------------
__pycache__/
*.py[cod]
*.pyo
*.code-workspace

# -------------------------------
# Virtual Environments
# -------------------------------
venv/
.venv/

# -------------------------------
# VS Code
# -------------------------------
.vscode/

# -------------------------------
# Environment Variables
# -------------------------------
.env

# -------------------------------
# Jupyter
# -------------------------------
.ipynb_checkpoints/

# -------------------------------
# Logs
# -------------------------------
*.log

# -------------------------------
# Build Files
# -------------------------------
build/
dist/
*.egg-info/

# -------------------------------
# Operating System Files
# -------------------------------
.DS_Store
Thumbs.db